nav {
    background-color: #0066cc;
    padding: 15px;
    margin: 0;
}
  
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}
  
nav a:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

input {
    height: 30px;
    margin: 5px;
}

button {
    background-color: #0066cc;
    color: white;
    height: 32px
}